client

{% for instance in openvpn_instances %}
remote {{ openvpn_server_remote_host }} {{ instance.port }} {{ instance.proto }}

{% for item in instance.client_extra_options %}
{{ item }}
{% endfor %}

{% endfor %}


nobind
dev tun
remote-cert-tls server
cipher AES-256-GCM
verb 6

auth-nocache
reneg-sec 0

{% if enable_auth_user_password %}
  auth-user-pass
  auth-nocache
{% endif %}
{% if enable_2fa %}
  static-challenge "OTP Verification code:" 1
{% endif %}
